<h1><b>Search Url Tags</b></h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:url, "Enter a valid URL (http will be assumed if no protocol is indicated):") %>
  <%= text_field_tag(:url) %>
  <%= submit_tag("Go") %>
<% end %>

<% if @url_tag_list && !@url_tag_list.tags.blank? %>
  <h1>Results</h1>

  <h1><%= @url_tag_list.url %> tag list:</h1>
  <h3><%= @url_tag_list.tags %></h3>
<% elsif !@url.nil? %>
  <h1>Empty results <%= @url %></h1>
  <p>Make sure the url is using the right domain or subdomain as well as the right protocol (http vs https).</p>
  <p>For example, http://www.reddit.com and https://reddit.com will return empty results, but https://www.reddit.com will get the expected content.</p>
<% end %>
